{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
    <h1 class="section-title">Envios</h1>
    <br>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Condiciones de Devolución</h4>
            <ul class="devo">
                <li>El producto debe estar en su estado original, sin abrir y sin usar, y debe incluir todos los accesorios y manuales originales.</li>
                <li>El producto debe estar en la misma condición en que lo recibió, sin daños ni marcas de uso.</li>
                <li>Debe incluir el comprobante de compra original.</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proceso de Devolución</h4>
            <p class="card-text">Para solicitar una devolución, por favor contáctenos a través de nuestro correo electrónico o número de teléfono de atención al cliente. Le proporcionaremos instrucciones detalladas sobre cómo devolver el producto.</p>
        </div>
    </div>
    <br>  
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Reembolsos</h4>
            <p class="card-text">Una vez recibido y procesado el producto devuelto, le enviaremos un correo electrónico para notificarle que hemos recibido su devolución. Le informaremos también sobre la aprobación o rechazo de su reembolso. Si se aprueba, su reembolso se procesará y se aplicará automáticamente a su tarjeta de crédito o método de pago original, en un plazo de varios días.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Productos Defectuosos o Dañados</h4>
            <p class="card-text">Si recibe un producto defectuoso o dañado, por favor contáctenos de inmediato. Haremos todo lo posible para resolver el problema lo antes posible y proporcionarle un reemplazo o un reembolso completo.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Excepciones</h4>
            <p class="card-text">Algunos productos pueden estar sujetos a políticas de devolución específicas o no ser elegibles para devolución. Por favor, consulte la descripción del producto en nuestro sitio web para obtener más información.</p>
        </div>
    </div>
</div>
{% endblock contenido %}