{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<div class="section-container">
    <h1 class="section-title">Descubre la experiencia de compra de tecnología sin preocupaciones con NihonPC</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hardware y periféricos</h4>
            <p class="card-text">NihonPC es una tienda en línea dedicada a brindar la mejor experiencia de compra a todos aquellos apasionados por la tecnología. Ofrecemos una amplia gama de productos de alta calidad, desde hardware y periféricos hasta accesorios para gamers y profesionales.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Envío gratis</h4>
            <p class="card-text">Lo que nos diferencia de la competencia es nuestro compromiso con la satisfacción del cliente, y por ello ofrecemos envío gratuito para todas las compras en todo Chile. Además, nuestro equipo de expertos en tecnología siempre está listo para brindar el mejor soporte técnico a nuestros clientes.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Excelente relación calidad-precio</h4>
            <p class="card-text">En NihonPC, valoramos a nuestros clientes y nos esforzamos por mantener una excelente relación calidad-precio en todos nuestros productos. No solo queremos que encuentres lo que buscas en nuestra tienda, sino que también deseamos que disfrutes de una experiencia de compra sin complicaciones.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Todo lo que necesitas para potenciar tu equipo</h4>
            <p class="card-text">En resumen, en NihonPC encontrarás todo lo que necesitas para potenciar tu equipo, con envío gratuito a cualquier parte de Chile. ¡Te esperamos en nuestra tienda en línea para satisfacer todas tus necesidades tecnológicas!</p>
        </div>
    </div>
</div>
{% endblock contenido %}
