{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<div class="section-container">
    <h1 class="section-title">Política de privacidad</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información que recopilamos</h4>
            <p class="card-text">Recopilamos información personal, como su nombre, dirección de correo electrónico, dirección física y número de teléfono, solo cuando usted nos la proporciona voluntariamente. También podemos recopilar información no personal, como su dirección IP, tipo de navegador, sistema operativo y la página web desde la que llegó a nuestro sitio.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cómo utilizamos su información</h4>
            <p class="card-text">Utilizamos su información personal para procesar sus pedidos, proporcionarle información sobre nuestros productos y servicios, mejorar nuestro sitio web y otros servicios, y personalizar su experiencia con nosotros. No compartimos su información personal con terceros, a menos que sea necesario para procesar su pedido o si estamos obligados por ley a hacerlo.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cookies y tecnologías similares</h4>
            <p class="card-text">Utilizamos cookies y tecnologías similares para recopilar información no personal sobre su actividad en nuestro sitio web. Las cookies nos permiten recordar sus preferencias y personalizar su experiencia con nosotros. También utilizamos cookies y tecnologías similares para fines de análisis y publicidad.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cómo protegemos su información</h4>
            <p class="card-text">Tomamos medidas de seguridad adecuadas para proteger su información personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción. Utilizamos técnicas y tecnologías de seguridad estándar de la industria para proteger su información.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sus derechos</h4>
            <p class="card-text">Usted tiene el derecho de acceder, rectificar, limitar o eliminar su información personal en cualquier momento. Si desea ejercer alguno de estos derechos, por favor póngase en contacto con nosotros a través de nuestro sitio web o por correo electrónico.</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cambios en nuestra política de privacidad</h4>
            <p class="card-text">Podemos modificar nuestra política de privacidad en cualquier momento, sin previo aviso. Cualquier cambio en nuestra política de privacidad se publicará en nuestro sitio web. Se considerará que ha aceptado cualquier cambio en nuestra política de privacidad al utilizar nuestros servicios después de la fecha en que se publique el cambio.</p>
        </div>
    </div>
</div>
{% endblock contenido %}
